* {
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);

  color: #fff;
}
#videoGrid {
  display: flex;
  justify-content: center;
}

video {
  height: 300px;
  width: 400px;
  object-fit: cover;
  clip-path: circle(150px);
}

.main {
  height: 100vh;
  display: flex;
}

.mainLeft {
  position: absolute;
  flex: 0.8;
  width: 0vw;
  bottom: 0vh;
  display: flex;
  flex-direction: column;
}
div.logo{
  background-image: linear-gradient(white, skyblue);
}
div.logo:after{
content:"";
position:absolute;
z-index:100;
display:block;
opacity:0.6;
z-index:-1;
width:100%;
height:100%;
background: linear-gradient(90deg, rgba(255, 0, 0, 0.5) 14.29%, rgba(0, 0, 0, 0) 14.29%, rgba(0, 0, 0, 0) 50%, rgba(255, 0, 0, 0.5) 50%, rgba(255, 0, 0, 0.5) 64.29%, rgba(0, 0, 0, 0) 64.29%, rgba(0, 0, 0, 0) 100%);
  background-size: 20px 20px;
}
#hologram {
  text-decoration: none;
}

@keyframes fluid {
from {
  background-position: top;
  opacity: 1;
}

to {
  background-position: bottom;
  opacity: 0.8;
}
}
#hologram > #lobby-hologram {
  position: absolute;
  top: -40vh;
left: -5vw;
  width: fit-content;
  padding: 0 50px;
  display:block;
line-height: 1;

font-weight: 900;
font-size: 84px;
font-family: 'Corbel', sans-serif;
text-align: left;
background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm273-mind-13.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=91b7642b6d2fb7729d7c0d2f398bd7a0);

background-clip: text;
-webkit-background-clip: text;
color: transparent;
-webkit-text-fill-color: transparent;
animation-duration: 60s;
animation-iteration-count: infinite;
animation-direction: alternate;
  animation-timing-function: linear;
animation-name: fluid;
background-size:400%;
color: black;
}
#color2 #lobby-hologram{
  background-size: 300%;
  border-color: #52bbccbf;
}
#color3 #lobby-hologram{
  background-size: 200%;
  border-color: #fff8b9;
}
#hologram #lobby-hologram:before{
  text-shadow: 4px 2px 1px #40adff, 2px 2px 10px #f4b0e7;

  position: absolute;
  display: inline;
  z-index: -10;
}
.roomTitle {
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  top: 1vh;
  left: 2vw;
  color: #fff;
}
.roomSubTitle {
  font-size: 28px;
  font-weight: 400;
  position: absolute;
  top: 2vh;
  left: 10vw;
  color: #fff;
}
.mainVideos {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainControls {
  display: flex;
  background: transparent;
  color: #fff;
  padding: 5px;
  justify-content: space-between;
  margin-top: 0vh;
}

.mainControlsBlock {
  display: flex;
  margin-top: 0vh;
}

.mainControlsButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  min-width: 80px;
  cursor: pointer;
  margin: 0px 10px;
  border-radius: 10px;
}

.mainControlsButton svg {
  font-size: 24px;
}

.mainControlsButton:hover {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;

  transition: 0.2s ease-in;
}

.mainControlsButtonEndMeeting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px 22px;
  font-size: 12px;
}

.leaveMeeting {
  font-weight: 600;
  cursor: pointer;
  padding: 4px 22px;
  background-color: #b72525;
  color: #fff;
  border-radius: 5px;
}

.unmute,
.stop {
  color: #cc3b33;
}

.mainRight {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  padding: 22px 18px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}

.mainHeader {
  text-align: center;
}

.mainHeader h6 {
  font-weight: 700;
  color: #fff;
  font-size: 13px;
}

.mainChatWindow {
  flex-grow: 1;
  overflow-y: auto;
}

.messages {
  color: white;
  opacity: 1;
  list-style: none;
}

.messageSendingTo {
  color: #fff;
  font-size: 12px;
  margin-bottom: 8px;
}

.messageSendingTo span {
  font-size: 12px;
  margin-left: 3px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  padding: 3px 8px;
  cursor: pointer;
}

.messageSendingTo span:hover {
  color: #2f89f2;
}

.messageSendingTo svg {
  font-size: 10px;
  color: #fff;
}

.messageHeader {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 11px;
  color: #fff;
}

.messageReceiver {
  color: #309af6;
}

.mainMessageContainer {
  margin-bottom: -2vh;
  padding: 22px 12px;
  display: flex;
}
ul.messagesContainer > li {
  color: #fff;
}

.mainMessageContainer input {
  flex-grow: 1;
  padding: 8px 10px;
  border: none;
  height: 80px;
  color: #fff;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  opacity: 1;
}


div.logo{
  background-image: linear-gradient(white, skyblue);
}
div.logo::after{
content:"";
position:absolute;
z-index:100;
display:block;
opacity:0.3;
z-index:-1;
width:100%;
height:100%;
background: linear-gradient(90deg, rgba(255, 0, 0, 0.5) 14.29%, rgba(0, 0, 0, 0) 14.29%, rgba(0, 0, 0, 0) 50%, rgba(255, 0, 0, 0.5) 50%, rgba(255, 0, 0, 0.5) 64.29%, rgba(0, 0, 0, 0) 64.29%, rgba(0, 0, 0, 0) 100%);
  background-size: 20px 20px;
}
#hologram {
  text-decoration: none;
}

@keyframes fluid {
from {
  background-position: top;
  opacity: 1;
}

to {
  background-position: bottom;
  opacity: 0.8;
}
}


#hologram > h1{
  position: absolute;
  top: -28vh;
line-height: 0.65;
letter-spacing: -4px;
  width: 350px;
  padding: 0 50px;
  display:block;
  margin:15vw auto;
  font-weight: normal;
font-size: 36px;
font-family: 'Ammonite';
text-align: center;
background-image: url(https://data.whicdn.com/images/209796267/original.jpg);
background-clip: text;
-webkit-background-clip: text;
color: transparent;
-webkit-text-fill-color: transparent;
animation-duration: 20s;
animation-iteration-count: infinite;
animation-direction: alternate;
  animation-timing-function: linear;
animation-name: fluid;
background-size: 500%;
color: black;
}

#color2 h1{
  background-size: 400%;
  border-color: #52bbccbf;
}

#color3 h1{
  background-size: 200%;
  border-color: #fff8b9;
}

#hologram h1:before{
  text-shadow: 4px 2px 1px #40adff, 2px 2px 10px #f4b0e7;

  position: absolute;
  display: inline;
  z-index: -10;
}

@media and (min-width: 375px) and (max-height: 812px) {
  body {
   margin: 0px;
  }
  video {
    margin-left: 0vw;
  }
}
