* {
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
overflow: hidden;
  color: #fff;
}
#videoGrid {
  display: flex;
  justify-content: center;
}

video {
  height: 300px;
  width: 400px;
  object-fit: cover;
  clip-path: circle(150px);
}

.main {
  height: 100vh;
  display: flex;
}

.mainLeft {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 100vh;
}
div.logo{
  background-image: linear-gradient(white, skyblue);
}

#hologram {
  text-decoration: none;
}

@keyframes fluid {
from {
  background-position: top;
  opacity: 1;
}

to {
  background-position: bottom;
  opacity: 0.8;
}
}
#hologram > #lobby-hologram {
  position: absolute;
  top: -40vh;
left: -5vw;
  width: fit-content;
  padding: 0 50px;
  display:block;
line-height: 1;
opacity: 1;
font-weight: 900;
font-size: 84px;
font-family: 'Corbel', sans-serif;
text-align: left;
background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm273-mind-13.jpg?w=800&dpr=1&fit=default&crop=default&q=65&https://krot.info/uploads/posts/2020-01/1579710836_1-p-benzinovie-foni-1.jpg);
background-clip: text;
-webkit-background-clip: text;
color: transparent;
-webkit-text-fill-color: transparent;
animation-duration: 60s;
animation-iteration-count: infinite;
animation-direction: alternate;
  animation-timing-function: linear;
animation-name: fluid;
background-size:500%;
color: black;
}
#color2 #lobby-hologram{
  background-size: 400%;
  border-color: #52bbccbf;
}
#color3 #lobby-hologram{
  background-size: 300%;
  border-color: #fff8b9;
}
#hologram #lobby-hologram:before{
  text-shadow: 4px 2px 1px #40adff, 2px 2px 10px #f4b0e7;

  position: absolute;
  display: inline;
  z-index: -10;
}
.roomTitle {
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  top: 1vh;
  left: 2vw;
  color: #fff;
}
.roomSubTitle {
  font-size: 28px;
  font-weight: 400;
  position: absolute;
  top: 2vh;
  left: 10vw;
  color: #fff;
}
.mainVideos {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainControls {
  position: absolute;
  display: flex;
  background: transparent;
  color: #fff;
  padding: 5px;
  margin-top: 0vh;
  justify-content: space-between;
}

.mainControlsBlock {
  display: flex;
  margin-top: 88vh;
}

.mainControlsButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  min-width: 80px;
  cursor: pointer;
  margin: 0px 10px;
  border-radius: 10px;
}

.mainControlsButton svg {
  font-size: 24px;
}

.mainControlsButton:hover {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;

  transition: 0.2s ease-in;
}

.mainControlsButtonEndMeeting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10vw;
  padding: 22px;
  width: 150px;
  font-size: 12px;
}

.leaveMeeting {
  font-weight: 600;
  cursor: pointer;
  padding: 4px;
  background-color: #b72525;
  color: #fff;
  border-radius: 5px;
}

.unmute,
.stop {
  color: #cc3b33;
}

.mainRight {
  position: absolute;
  top: 0vh;
  left: -3vw;
  flex: 0.2;
  display: flex;
  flex-direction: column;
  padding: 22px 18px;
  margin-left: 80vw;
  width: 22vw;
  height: 94vh;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.mainHeader {
  text-align: center;
}

.mainHeader h6 {
  font-weight: 700;
  color: #fff;
  font-size: 16px;
}

.mainChatWindow {
  flex-grow: 1;
  position: absolute;
  overflow-y: auto;
  top: 0vh;
left: 0vw;

}

.messages {
  color: white;
  opacity: 1;
  list-style: none;

}

.messageSendingTo {
  position: absolute;
  top: 75vh;
  color: #fff;
  font-size: 12px;
  margin-bottom: 8px;
}

.messageSendingTo span {
  font-size: 12px;
  margin-left: 3px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  padding: 3px 8px;
  cursor: pointer;
}

.messageSendingTo span:hover {
  color: #2f89f2;
}

.messageSendingTo svg {
  font-size: 10px;
  color: #fff;
}

.messageHeader {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 11px;
  color: #fff;
}

.messageReceiver {
  color: #309af6;
}

.mainMessageContainer {
  margin-top: 70vh;
  margin-left: 0vw;
  padding: 22px 12px;
  display: flex;

}
ul.messagesContainer > li {
  color: #fff;
}

.mainMessageContainer input {
  flex-grow: 1;
  margin-top: 2vh;
  margin-left: -1vw;
  padding: 8px 10px;
  border: none;
  height: 80px;
  color: #fff;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  opacity: 1;
}



@media and (min-width: 375px) and (max-height: 812px) {
  body {
   margin: 0px;
  }
  video {
    margin-left: 0vw;
  }
}

header {
position: absolute;
  color: #fff;
  text-align: center;
  flex-grow: 0;
  padding-bottom: 1em;
}

header > h1 {
  position: absolute;
  font-family: 'Ammonite';
  left: 0vw;
}

header > h2 {
  position: absolute;
  left: 24vw;
  top: 4vh;
  left: 28vw;
  width: 250px;
  color: #ffffff;
  font-size: 2;
  font-weight: 500;
}

#root {
  min-height: 100vh;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

form {
  max-width: 300px;
  margin: 0 auto;
}

h2 {
  font-weight: 300;
  margin-bottom: 1em;
  text-align: center;
}

form > div {
  width: 100%;
  margin-bottom: 1em;
}
form > div > label {
  display: block;
  margin-bottom: 0.3em;
}
form > div > input {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 0.5em;
  border-radius: 6px;
  border: 1px solid #243748;
}

button {
  background: #309af6;
  color: #fff;
  font-size: 16px;
  padding: 0.5em;
  border-radius: 6px;
  border: 1px solid transparent;
}
button:hover {
  filter: brightness(150%);
}

.room {
  position: relative;
}
.room button {
  position: absolute;
  top: 0;
  right: 0px;
}
.room > h3 {
  text-align: center;
  font-weight: 300;
  margin-bottom: 1em;
}

.local-participant {
  text-align: center;
  margin-bottom: 2em;
}
.remote-participants {
  display: flex;
  justify-content: space-between;
  padding: 0 2em 2em;
}
.participant {
  padding: 8px;
  display: inline-block;
}
.participant:last-child {
  margin-right: 0;
}
.participant h3 {
  position: absolute;
  top: 0vh;
  text-align: center;
  padding-bottom: 0.5em;
  color: #fff;
}

video {
  position: relative;
  width: 100%;
  max-width: 600px;
  display: block;
  margin-top: 20vh;
  border-radius: 6px;
}

footer {
position: absolute;
top: 95vh;
left: 45vw;
  color: #bbb;
  text-align: center;
  flex-grow: 0;
  padding: 1em 0;
}

footer a {
  color: #fff;
}

@keyframes fluid {
from {
  background-position: top;
  opacity: 1;
}

to {
  background-position: bottom;
  opacity: 0.8;
}
}
#hologram > h1{
  position: absolute;
  top: -28vh;
line-height: 0.65;
letter-spacing: -4px;
  width: 350px;
  padding: 0 50px;
  display:block;
  margin:15vw 0vw;
  font-weight: normal;
font-size: 36px;
font-family: 'Ammonite';
text-align: center;
background-image: url(https://data.whicdn.com/images/209796267/original.jpg);
background-clip: text;
-webkit-background-clip: text;
color: transparent;
-webkit-text-fill-color: transparent;
animation-duration: 20s;
animation-iteration-count: infinite;
animation-direction: alternate;
  animation-timing-function: linear;
animation-name: fluid;
background-size: 500%;
color: black;
}
#color2 h1{
  background-size: 400%;
  border-color: #52bbccbf;
}
#color3 h1{
  background-size: 200%;
  border-color: #fff8b9;
}
#hologram h1:before{
  text-shadow: 4px 2px 1px #40adff, 2px 2px 10px #f4b0e7;

  position: absolute;
  display: inline;
  z-index: -10;
}
